<!-- <section class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">{{headerText}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
</section> -->

<section class="header-container">
  <div class="header-brands">
    <div class="logo">
      <a class="brand-logo">
        <button mat-icon-button (click)="sideMenuToggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- <mat-icon (click)="sideMenuToggle()" >menu</mat-icon> -->
        <!-- <img src="assets/images/logo3.png" title="Logo" alt="Logo"/> -->
      </a>
    </div>
    <div class=" header-title">
      {{headerText}}
    </div>
    <div class=" header-title">
      <button class="btn btn-primary" routerLink="/load/create">Create Load</button>
    </div>
    <div class=" header-title">
      <button class="btn btn-primary" routerLink="/load/">Load Board</button>
    </div>

  </div>

</section>

 <!-- <app-side-menu #sideMenu></app-side-menu> -->
