<div [formGroup]="loadForm">
  <div class="row" formGroupName="carrier">
      <div class="col-12">
          <ngx-datatable class="material" [columns]="columns1" [columnMode]="ColumnMode.force" [scrollbarV]="false" [scrollbarH]="true" headerHeight="50" footerHeight="50" [limit]="10" [rowHeight]="50" [rows]="rows">
              <ngx-datatable-column *ngFor="let column of columns1" name="{{column.name}}" prop="{{column.prop}}">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="value != 'remove'">{{value}}</span>
                      <span *ngIf="value == 'remove'" title="Remove"><button class="btn btn-sm btn-warning text-white" ><i class="fa fa-remove"></i> </button></span>
                  </ng-template>
                </ngx-datatable-column>
          </ngx-datatable>
      </div>
  </div>
</div>
