<form [formGroup]="loadForm"  novalidate>
  <div formGroupName="customer">
      <div class="form-row pb-sm-3">
          <div class="col-sm-6 col-lg-3 form-group">
              <label for="txtName">Customer</label>
              <input type="text" id="txtName" class="form-control" formControlName="name"
              [ngbTypeahead]="search" container="body" required placeholder="Enter Customer">
              <div class="invalid-feedback">
                  Required
              </div>
          </div>
          <div class="col-sm-6 col-lg-3 form-group">
              <label for="drpAddress">Address</label>
              <select id="drpAddress" class="form-control" formControlName="address" required>
                  <option value="">Select Customer Address</option>
                  <option value="1">California</option>
                  <option value="2">Florida</option>
                  <option value="3">Texas</option>

              </select>
              <div class="invalid-feedback">
                  Required
              </div>
          </div>
          <div class="col-sm-6 col-lg-3 form-group">
              <label for="txtConName">Contact Name</label>
              <input type="text" id="txtConName" class="form-control" formControlName="contact_name" disabled>
              <div class="invalid-feedback">
                  Required
              </div>
          </div>
          <div class="col-sm-6 col-lg-3 form-group">
              <label for="txtConEmail">Contact Email</label>
              <input type="text" id="txtConEmail" class="form-control" formControlName="contact_email" disabled>
              <div class="invalid-feedback">
                  Required
              </div>
          </div>
      </div>
      <div class="form-row">
          <div class="col-sm-6 col-lg-3 form-group">
              <label for="txtContPhone">Contact Phone</label>
              <input type="text" id="txtContPhone" class="form-control" formControlName="phone" disabled>
              <div class="invalid-feedback">
                  Required
              </div>
          </div>
      </div>
  </div>
</form>
