<div [formGroup]="loadForm">
  <div class="form-row pb-sm-3">
    <div class="col-sm-6 col-lg-3 form-group">
      <label for="txtTarget">Target</label>
      <input type="text" id="txtTarget" class="form-control" formControlName="targetRate" placeholder="Type to Search"
      mask="separator.2" prefix="$" thousandSeparator="," separatorLimit="10000000">
    </div>
    <div class="col-sm-6 col-lg-3 form-group">
      <label for="txtPriceMax">Max</label>
      <input type="text" id="txtPriceMax" class="form-control" formControlName="maxRate"
      mask="separator.2" prefix="$" thousandSeparator="," separatorLimit="10000000">
    </div>
  </div>
  <div formArrayName="loadPricings">
    <div *ngFor="let pricingObj of loadPricings.controls; let i = index" [formGroupName]="i">
    <div class="form-row pb-sm-3" >
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="drpRev">Revenue</label>
          <select id="drpRev" class="form-control" formControlName="pricingLineItem"
          (change)="calculateTotal(pricingObj.get('pricingTypeId'), i)">
              <option value="">Select Revenue Item</option>
              <option value="1">Flat Rate</option>
              <option value="2">Per Mile</option>
          </select>
          <div class="invalid-feedback">
              Required
          </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="txtRevVal">Value</label>
          <input type="text" id="txtRevVal" class="form-control" formControlName="pricingLineItemValue"
          mask="separator.2" prefix="$" thousandSeparator="," separatorLimit="10000000"
          (keyup)="calculateTotal(pricingObj.get('pricingTypeId'), i)">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="txtRevTot">Total</label>
          <input type="text" id="txtRevTot" class="form-control" formControlName="pricingLineItemSubtotal"
          mask="separator.2" prefix="$" thousandSeparator="," separatorLimit="10000000" disabled>
      </div>
  </div>
</div>
  </div>
</div>
