<div [formGroup]="loadForm">
  <div formGroupName="pricing">
  <div class="form-row pb-sm-3">
      <div class="col-sm-6 col-lg-3 form-group">
          <label for="txtTarget">Target</label>
          <input type="text" id="txtTarget" class="form-control" formControlName="target" required>
          <div class="invalid-feedback">
              Required
          </div>
      </div>
      <div class="col-sm-6 col-lg-3 form-group">
          <label for="txtPriceMax">Max</label>
          <input type="text" id="txtPriceMax" class="form-control" formControlName="max" >
      </div>
  </div>
  <div class="form-row pb-sm-3">
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="drpRev">Revenue</label>
          <select id="drpRev" class="form-control" formControlName="revenue" required>
              <option value="">select</option>
              <option value="FR">Flat Rate</option>
              <option value="PM">Per Mile</option>
          </select>
          <div class="invalid-feedback">
              Required
          </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="txtRevVal">Value</label>
          <input type="text" id="txtRevVal" class="form-control" formControlName="rev_value" >
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="txtRevTot">Total</label>
          <input type="text" id="txtRevTot" class="form-control" formControlName="rev_total" >
      </div>
  </div>
  <div class="form-row pb-sm-3">
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="drpCost">Cost</label>
          <select id="drpCost" class="form-control" formControlName="cost" required>
              <option value="">select</option>
              <option value="FR">Flat Rate</option>
              <option value="PM">Per Mile</option>
          </select>
          <div class="invalid-feedback">
              Required
          </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="txtCostVal">Value</label>
          <input type="text" id="txtCostVal" class="form-control" formControlName="cost_value" >
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 form-group">
          <label for="txtCostTot">Total</label>
          <input type="text" id="txtCostTot" class="form-control" formControlName="cost_total" >
      </div>
  </div>
</div>
</div>
