@import "../../../../../assets/scss/vendor/bootstrap/config";
@import "../../../../../assets/scss/skin";

.md-datepicker-input-container {
    width: 50%;
    margin-left: 0px;
}

.mat-form-field-infix {
    width: 100px !important;
}

.mat-datepicker-content .time-container {
    padding-top: 0px !important;
}

.table th,
.table td {
    vertical-align: middle;
}


.table {
    margin-bottom: 0rem !important;
}
::ng-deep .mat-datepicker-content .ngx-mat-datetime-picker {
    width: 200px !important;
    height: 200px !important;
}

.btn-blue {
    font-size: 0.57rem !important; 
    background-color: $tm-bu !important;
}

.btn-blue:disabled {
    background-color: lighten($tm-bu, $amount: 50%) !important;
    border-color: lighten($tm-bu, $amount: 50%);
    color: lighten($tm-bu, $amount: 10%);
}

.is-header-row {
    background-color: lighten($thm-one, 50%);
}

// Custom Expand Column
.lbd-dtl-row {
    display: flex;
    padding: 5px 60px;
    flex-direction: column;
    .lbd-dtl-column {
        display: flex;
        flex-direction: row;
        .lbd-dtl-item {
            margin-right: 2rem;
            margin-bottom: 0.5rem;
            font-size: 0.67rem;
            min-width: 10rem;
            .lbd-dtl-head {
                // font-weight: bold;
                letter-spacing: 1px;
                color: darken($color: $white, $amount: 15%);
            }
            .lbd-dtl-data {
                letter-spacing: 1px;
                color: darken($color: $white, $amount: 20%);;
            }
            &.triple {
                min-width: 30rem;
                textarea {
                    width: 100%;
                    border-radius: 4px;
                    padding: 0.5rem;
                    vertical-align: bottom;
                }
                .btn {
                    margin-left: 0.5rem;
                    padding: 0.25rem 1rem;
                    font-size: 0.75rem;
                    color: $thm-ngx-highlights;
                    border-color: $thm-ngx-highlights;
                }
            }
        }
    }
}

// Temp Shift of Pagecounts in ngxtable
// .ngx-datatable.material .datatable-footer .page-count {
//     margin-left: 150px;
// }

// New Design POC
// Ngx Table
//======================================
.filter-results {
    position: relative;
    flex: 1 1 10%;
    .filter-label {
        display: none;
        cursor: pointer;
        @include media-breakpoint-up(sm) {
            display: inline-flex;
        }
    }    
    @include media-breakpoint-up(lg) { 
        flex: 1 1 10%;
    }    
    padding: 15px;
    border-top-left-radius: 4px;
    border-right: 1px solid lighten($color: $thm-ngxfoot, $amount: 10%);    
    &.active {
        background-color: $thm-one;
        border-right: 1px solid $thm-ngx-highlights;
        i {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    i {        
        color: $thm-ngx-highlights;
        font-size: 16px;
        cursor: pointer;
        @include media-breakpoint-up(sm) { 
            margin-left: 10px;
        }
    }
    .filter-flyout {
        position: fixed;        
        z-index: 1080;
        width: 226px;
        height: 100%;
        top: 50px;
        left: 0;
        padding: 15px;
        background-color: $thm-ngxfoot;
        border-top: 1px solid $thm-ngx-highlights;
        .fr-search {
            height: 90%;
            overflow-y: scroll;
            .fr-searchpanel {
                border-bottom: 1px solid darken($color: $white, $amount: 20%);
                color: darken($color: $white, $amount: 20%);
                margin-top: 1rem;
                padding-bottom: 1rem;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                }
                p {
                    text-transform: uppercase;
                    margin-bottom: 0.5rem;
                    // font-weight: bold;
                    color: $white;
                }
                label {
                    margin-bottom: 0.2rem;
                }
                input, select {
                    width: 100%;
                    border: 1px solid darken($color: $white, $amount: 20%);
                    color: $white;
                    border-radius: 4px;
                    padding: 0 3px;
                    background-color: transparent; 
                    height: 24px;
                    line-height: 24px;
                    &::placeholder {
                        color: darken($color: $white, $amount: 30%);
                        opacity: 0.7;
                    }                                       
                }
                select {
                    option {
                        color: $black;
                    }                               
                }
            }
        }
    }
}
.page-counter {
    text-align: right;
    flex: 1 1 12%;
    @include media-breakpoint-up(lg) { 
        display: block;
        flex: 1 1 55%;
    }
    .row-counter {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-flex;
            margin-left: 10px;
        }
    }
}
.row-limit {
    text-align: right;
    flex: 1 1 6%;
    align-items: center;
    display: none;
    @include media-breakpoint-up(lg) { 
        flex: 1 1 10%;
        justify-content: flex-end;
        display: flex;
    }
    span {
        margin-right: 0.5rem;
    }
    select {
        // width: 100%;
        border: 1px solid darken($color: $white, $amount: 20%);
        color: $white;
        border-radius: 4px;
        padding: 0 3px;
        background-color: transparent; 
        height: 24px;
        line-height: 24px;
        &::placeholder {
            color: darken($color: $white, $amount: 30%);
            opacity: 0.7;
        }  
        option {
            color: $black;
        } 
    }
}
.paginator {
    flex: 1 1 78%;
    text-align: right;
    @include media-breakpoint-up(lg) { 
        flex: 1 1 25%;
    }
}
.status-load {
    position: absolute;
    .dropdown-toggle::after {
        border: 0 !important;
    }
    ul {
        -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.16);
        padding: 0.75rem;
        font-size: 0.75rem;
        li {
            margin-bottom: 0.5rem;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                position: relative;
                display: block;
                padding: 0.3rem;
                &:hover {
                    background-color: darken($color: $white, $amount: 10%);
                }
                i {
                    padding-right: 0.5rem;
                }
            }
        }
        
    }
}
 
.form-inline-lbd {
    .form-group-lbd {
        .input-group-lbd {
            display: flex;
            .prepend-lbd {
                .btn-lbd {
                    background-color: $white;
                    border: 1px solid darken($color: $white, $amount: 15%);
                    border-radius: 3px 0 0 3px;
                    padding: 0.3rem;
                    margin-right: -1px;
                    i {
                        color: $ld-pickedup;
                    }
                }
            }
            .form-control-lbd {
                border: 1px solid darken($color: $white, $amount: 15%);
                border-radius: 0 3px 3px 0;
                padding: 0.3rem;
            }
        }
    }
}

#ngb-timectrl {
    .form-control {
        padding: 0.3rem;
        font-size: .75rem;
        height: calc(1.0em + 0.75rem + 2px);
        border-radius: 0;
    }
    .chevron {
        font-size: 0.75rem;
    }
}

#btn-xsm {
    .btn {
        padding: 0.2rem;
        font-size: 0.75rem;
    }
}

.ngx-datatable .datatable-body .datatable-row-wrapper {
    // border-left: 3px solid $tm-rd;
}

.ngx-datatable {
    &.material {
        .datatable-header {
          border-left: 6px solid transparent;
        }
    }
}


.ngx-datatable {
    .datatable-body {
        .datatable-body-row {
            border-left-width: 6px;
            border-left-style: solid;
            &.load-pickedup {
                border-color: $ld-pickedup;
            }
            &.load-delivered {
                border-color: $ld-delivered;
            }
            &.load-intransit {
                border-color: $ld-intransit;
            }
            &.load-assigned {
                border-color: $ld-assigned;
            }
            &.load-cancelled {
                border-color: $ld-cancelled;
            }
            .datatable-body-cell {
                .datatable-body-cell-label {
                    a {
                        &.cnf-pkup {
                            color: $ld-pickedup !important;
                        }
                        &.cnf-dlvd {
                            color: $ld-delivered !important;
                        }
                        &.cnf-canc {
                            color: $ld-cancelled !important;
                        }                        
                    }

                    a.disabled {
                        pointer-events: none;
                        cursor: default;
                    }

                    .substatus-load {
                        left: 45% !important;
                        @include media-breakpoint-up(sm) {
                            left: 115% !important;
                            top: -28px !important;
                            border-color: $white;
                            &::before {
                                content: "";
                                position: absolute;
                                right: 100%;
                                top: 10px;
                                width: 0;
                                height: 0;
                                border-top: 10px solid transparent;
                                border-right: 10px solid $white;
                                border-bottom: 10px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Temp Class...
.just-wrapper {
    display: none;
}





