<div class="ngx-datatable-container" *ngIf="showTable">
  <ngx-datatable #myTable class="material striped" style="height: 85vh;" [columns]="columns" [columnMode]="ColumnMode"
    headerHeight="30" footerHeight="50" [rowHeight]="50" [rowClass]="getStatusClass" [scrollbarV]="true"
    [scrollbarH]="false" [virtualization]="false" [externalSorting]="true" [externalPaging]="true" [count]="totalElements" [offset]="pageNumber"
    [limit]="pageSize" [selected]="selected" [selectionType]="SelectionType.single" (activate)="onActivate($event)" 
    (select)="onSelect($event)" (page)="setPaging($event)" [rows]="data" (sort)="onSort($event)">
    <!-- Row Template -->
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <div class="lbd-dtl-container">
          <div class="lbd-dtl-row">
            <div class="lbd-dtl-column">
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Expected Pickup Date</div>
                <div class="lbd-dtl-data">{{row.pickupDate}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Expected Delivery Date</div>
                <div class="lbd-dtl-data">{{row.deliveryDate}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Equipment Length</div>
                <div class="lbd-dtl-data">{{row.equipmentLength}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Equipment Weight</div>
                <div class="lbd-dtl-data">{{row.equipmentWeight}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Commodity Name</div>
                <div class="lbd-dtl-data">{{row.commodityName}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Commodity Value</div>
                <div class="lbd-dtl-data">{{row.commodityValue}}</div>
              </div>
            </div>
            <div class="lbd-dtl-column">
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Carrier Name</div>
                <div class="lbd-dtl-data">{{row.carrierName}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Carrier Contact</div>
                <div class="lbd-dtl-data">{{row.carrierContact}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Email Id</div>
                <div class="lbd-dtl-data">{{row.carrierEmail}}</div>
              </div>
              <div class="lbd-dtl-item">
                <div class="lbd-dtl-head">Phone</div>
                <div class="lbd-dtl-data">{{row.carrierPhone}}</div>
              </div>
            </div>
            <div class="lbd-dtl-column d-none">
              <div class="lbd-dtl-item triple mb-0 mr-0">
                <textarea rows="3" placeholder="Provide additional informations here..."></textarea>
                <button class="btn btn-sm btn-dark">Save</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <!-- Col Template -->
    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
    [canAutoResize]="false" [frozenLeft]="false">
      <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>      
        <div class="status-load" ngbDropdown> 
          <a href="javascript:void(0)" ngbDropdownToggle>
            <i class="fa fa-list-ul"></i>          
          </a>
          <ul ngbDropdownMenu>
            <li ngbDropdown>
              <div *ngIf="!row.isConfirmPickupEnable">
                <a class="cnf-pkup" href="javascript:void(0)" ngbDropdownToggle class="disabled">
                  <i class="fa fa-cart-arrow-down"></i>Confirmed Pickup
                </a>
              </div>
            
              <div *ngIf="!row.actualPickupDate && row.isConfirmPickupEnable">
              <a class="cnf-pkup" href="javascript:void(0)" ngbDropdownToggle   >
                <i class="fa fa-cart-arrow-down"></i>
                Confirmed Pickup
                <ul class="substatus-load pt-0" ngbDropdownMenu>
                  <form [formGroup] = "dateForm" >
                    <li>
                      <div class="d-flex align-items-center mb-2">
                        <div class="d-fx-50">
                          <div class="px-1">
                            <!-- item 1 -->
                            <div class="form-inline-lbd">
                              <div class="form-group-lbd">
                                <div class="input-group-lbd">
                                  <div class="prepend-lbd">
                                    <button class="btn-lbd" (click)="d.toggle()" type="button">
                                      <i class="fa fa-calendar"></i>
                                    </button>
                                  </div>
                                  <input type="text" class="form-control-lbd" formControlName="dateCtrl" 
                                  placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">                                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-fx-50">
                          <div class="px-1">
                            <!-- item 2 -->
                            <div class="form-inline-lbd">
                              <div class="form-group-lbd">
                                <div class="input-group-lbd align-items-center">
                                  <div class="prepend-lbd">
                                    <button class="btn-lbd" type="button">
                                      <i class="fa fa-clock-o"></i>
                                    </button>
                                  </div>
                                  <div id="ngb-timectrl">
                                    <ngb-timepicker formControlName="timeCtrl" [spinners]=true [seconds]=true></ngb-timepicker>
                                  </div>                                                                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div id="btn-xsm" class="d-flex mb-2">
                        <div class="d-fx-50 mr-1">
                          <button type="button" (click)="updatePickupDate('row.actualPickupDate', rowIndex)" 
                          class="btn btn-block btn-sm btn-dark" ngbDropdownToggle>OK</button>
                        </div>
                        <div class="d-fx-50 ml-1">
                          <button class="btn btn-block btn-sm btn-light" ngbDropdownToggle>Cancel</button>
                        </div>
                      </div>
                    </li>
                  </form>
                </ul>
              </a>
            </div> 
            </li>
            <li ngbDropdown>
              <div *ngIf = "!row.isConfirmDeliveryEnable">
                <a class="cnf-dlvd" href="javascript:void(0)" ngbDropdownToggle class="disabled">
                  <i class="fa fa-truck"></i>
                  Confirmed Delivery 
                </a>
              </div> 
              <div *ngIf = "row.isConfirmDeliveryEnable">
                <a class="cnf-dlvd" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fa fa-truck"></i>
                Confirmed Delivery
                <ul class="substatus-load" ngbDropdownMenu>
                  <form [formGroup] = "dateForm" >
                    <li>
                      <div class="d-flex align-items-center mb-2">
                        <div class="d-fx-50">
                          <div class="px-1">
                            <!-- item 1 -->
                            <div class="form-inline-lbd">
                              <div class="form-group-lbd">
                                <div class="input-group-lbd">
                                  <div class="prepend-lbd">
                                    <button class="btn-lbd" (click)="d.toggle()" type="button">
                                      <i class="fa fa-calendar"></i>
                                    </button>
                                  </div>
                                  <input type="text" class="form-control-lbd" formControlName="dateCtrl" 
                                  placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">                                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-fx-50">
                          <div class="px-1">
                            <!-- item 2 -->
                            <div class="form-inline-lbd">
                              <div class="form-group-lbd">
                                <div class="input-group-lbd align-items-center">
                                  <div class="prepend-lbd">
                                    <button class="btn-lbd" type="button">
                                      <i class="fa fa-clock-o"></i>
                                    </button>
                                  </div>
                                  <div id="ngb-timectrl">
                                    <ngb-timepicker formControlName="timeCtrl" [spinners]=true [seconds]=true></ngb-timepicker>
                                  </div>                                                                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div id="btn-xsm" class="d-flex mb-2">
                        <div class="d-fx-50 mr-1">
                          <button type="button" (click)="updateDeliveryDate('row.actualPickupDate', rowIndex)" 
                          class="btn btn-block btn-sm btn-dark" ngbDropdownToggle>OK</button>
                        </div>
                        <div class="d-fx-50 ml-1">
                          <button class="btn btn-block btn-sm btn-light" ngbDropdownToggle>Cancel</button>
                        </div>
                      </div>
                    </li>
                  </form>
                </ul>
                </a>
              </div>             
            </li>
            <li ngbDropdown>
              <a class="cnf-canc" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fa fa-times-circle-o"></i>
                Cancel Load
                <ul class="substatus-load" ngbDropdownMenu>
                  <li>
                    cancel items here...
                  </li>
                </ul>
              </a>
            </li>
          </ul>
        </div> 
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
      [canAutoResize]="false" [frozenLeft]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="LoadId" [minWidth]="70" [maxWidth]="70">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a [routerLink]="['/load/edit/', row.loadId]"> {{ row.loadId }} </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngFor="let column of columns" [name]="column.name" [prop]="column.prop"
      [width]="column.width" [flexGrow]="1">
    </ngx-datatable-column>
    <ngx-datatable-column name="Actual Pickup" [minWidth]="140" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="row.pickupDate">
        <!-- <span title="Click to edit" (click)="pickupDateEditing[rowIndex] = true"
          *ngIf="!row.actualPickupDate && !pickupDateEditing[rowIndex]">
          <button class="btn btn-xs btn-primary btn-blue" [disabled]="!row.isConfirmPickupEnable">Confirm
            Pickup</button>
        </span> -->
        <span *ngIf="row.actualPickupDate; else defaultValue">
          {{row.actualPickupDate}}
        </span>
        <ng-template #defaultValue> 
        </ng-template>
        <!-- <mat-form-field *ngIf="pickupDateEditing[rowIndex]">
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose datetime"
            (dateChange)="updatePickupDate($event, 'row.actualPickupDate', rowIndex)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]=false [showSeconds]=false [stepHour]="1" [stepMinute]="5"
            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" [disableMinute]=false
            [hideTime]=false>
          </ngx-mat-datetime-picker>
        </mat-form-field> -->
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actual Delivery" [minWidth]="140" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="row.deliveryDate">
        <!-- <span title="Click to edit" (click)="deliveryDateEditing[rowIndex] = true"
          *ngIf="!row.actualDeliveryDate && !deliveryDateEditing[rowIndex]">
          <button class="btn btn-xs btn-primary btn-blue" [disabled]="!row.isConfirmDeliveryEnable">Confirm
            Delivery</button>
        </span> -->
        <span *ngIf="row.actualDeliveryDate; else defaultValue">
          {{row.actualDeliveryDate}}
        </span>
        <ng-template  #defaultValue>  
        </ng-template>
        <!-- <mat-form-field *ngIf="deliveryDateEditing[rowIndex]">
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose datetime"
            (dateChange)="updateDeliveryDate($event, 'row.actualDeliveryDate', rowIndex)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]=false [showSeconds]=false [stepHour]="1" [stepMinute]="5"
            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" [disableMinute]=false
            [hideTime]=false>
          </ngx-mat-datetime-picker>
        </mat-form-field> -->
      </ng-template>
    </ngx-datatable-column>
    <!-- Footer Template -->
    <ngx-datatable-footer *ngIf="true">
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-offset="offset"
      >
        <div class="datatable-footer-inner">
          <div class="filter-results" [ngClass]="{active: !isFilterFlyout}" [formGroup]="searchForm">
            <div (click)="filterFlyout()"> 
              <span class="filter-label">Filter Results</span> 
              <i class="fa fa-sliders" aria-hidden="true"></i>
            </div>
            <div class="filter-flyout pr-0" [ngbCollapse]="isFilterFlyout">
              <div class="fr-search pr-1">
                <div class="fr-searchpanel d-none">
                  <p>Age</p>
                  <div class="d-flex align-items-center">
                    <div class="d-fx-30">                      
                      <input type="text" placeholder="50">
                      <span class="ml-1">hr</span>
                    </div>
                    <div class="d-fx-70">
                      <div class="px-2">
                        <mat-slider></mat-slider>
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="fr-searchpanel">
                  <p>Load</p>
                  <label for="loadId">Enter LoadID:</label>
                  <div class="d-flex">
                    <div class="d-fx-100">                      
                      <input type="text" id="loadId" formControlName="loadId" placeholder="Load Id">
                    </div>
                  </div>
                </div>
                <div class="fr-searchpanel">
                  <p>Trip</p>
                  <label for="originDst">Origin: City/State/Zip</label>
                  <div class="d-flex">
                    <div class="d-fx-100">                      
                      <input type="text" id="originDst" formControlName="originCsz" placeholder="Type to Search" [ngbTypeahead]="searchCityStateZip">
                    </div>
                  </div>
                  <div class="just-wrapper"> <!-- Justwrapper starts-->
                    <div class="d-flex mb-2 align-items-center">
                      <div class="d-fx-30">                      
                        <input type="text" placeholder="25">
                        <span class="ml-1">mi</span>
                      </div>
                      <div class="d-fx-70">
                        <div class="px-2">
                          <mat-slider></mat-slider>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Justwrapper ends-->
                  <label class="mt-2" for="destinationDst">Destination: City/State/Zip</label>
                  <div class="d-flex">
                    <div class="d-fx-100">                      
                      <input type="text" id="destinationDst" formControlName="destinationCsz" placeholder="Type to Search" [ngbTypeahead]="searchCityStateZip">
                    </div>
                  </div>
                  <div class="just-wrapper"> <!-- Justwrapper starts-->
                    <div class="d-flex align-items-center">
                      <div class="d-fx-30">                      
                        <input type="text" placeholder="125">
                        <span class="ml-1">mi</span>
                      </div>
                      <div class="d-fx-70">
                        <div class="px-2">
                          <mat-slider></mat-slider>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Justwrapper ends-->
                </div>    
                <div class="fr-searchpanel">
                  <p>Equipment</p>
                  <div class="just-wrapper"> <!-- Justwrapper starts-->
                    <label>Length:</label>
                    <div class="d-flex mb-2">                                        
                      <div class="d-fx-70">
                        <div class="px-1">Over</div>
                      </div>
                      <div class="d-fx-30">                      
                        <input type="text" placeholder="25">
                        <span class="ml-1">ft</span>
                      </div>
                    </div>
                    <label>Weight:</label>
                    <div class="d-flex">                    
                      <div class="d-fx-70">
                        <div class="px-1">Over</div>
                      </div>
                      <div class="d-fx-30">                      
                        <input type="text" placeholder="125">
                        <span class="ml-1">lb</span>
                      </div>
                    </div>
                    <label for="">Full/Partial:</label>
                    <div class="mb-2">
                      <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                      </select>
                    </div>  
                  </div>    <!-- Justwrapper ends-->            
                  <div class="d-flex mb-2">                                        
                    <div class="d-fx-30">
                      <div class="px-1">Type:</div>
                    </div>
                    <div class="d-fx-70">                      
                      <select name="" id="drpType" formControlName="equipmentId">
                        <option value="">Select</option>
                        <option value="1">Van</option>
                        <option value="2">Reefer</option>
                        <option value="3">Flat Bed</option>
                      </select>
                    </div>
                  </div>
                </div>     
                <div class="fr-searchpanel d-none">
                  <p>Availability</p>
                  <div class="d-flex mb-2">                                        
                    <div class="d-fx-50">
                      <div class="px-1">Date(s):</div>
                    </div>
                    <div class="d-fx-50">                      
                      <input type="text" placeholder="04/16/2020">
                    </div>
                  </div>
                </div>     
                <div class="fr-searchpanel">
                  <p>Customer</p>
                  <label for="custDetails">Enter Customer Details:</label>
                  <div class="d-flex">
                    <div class="d-fx-100">                      
                      <input type="text" id="custDetails" placeholder="Customer Name" formControlName="customerObj" [ngbTypeahead]="searchCustomer" [inputFormatter]="formatter"
                      [resultFormatter]="formatter" (selectItem)="selectedCustomer($event)">
                    </div>
                  </div>
                </div>
                <div class="fr-searchpanel d-none">
                  <p>Company</p>
                  <label for="">Home State:</label>
                  <div class="mb-2">
                    <select name="" id="">
                      <option value="">1</option>
                      <option value="">2</option>
                    </select>
                  </div>
                  <label>MC No:</label>
                  <div class="d-flex mb-2">                                        
                    <div class="d-fx-50">
                      <div class="px-1">Less than</div>
                    </div>
                    <div class="d-fx-50">                      
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <label>Show only names:</label>
                  <div class="d-flex">
                    <div class="d-fx-100">                      
                      <input type="text" placeholder="">
                    </div>
                  </div>
                  <label>Don't show names:</label>
                  <div class="d-flex">
                    <div class="d-fx-100">                      
                      <input type="text" placeholder="">
                    </div>
                  </div>
                </div>  
                <div class="text-right my-2">
                  <button type="button" class="btn btn-sm btn-info" (click)="searchLoads()">Search</button>
                </div>            
              </div>
            </div>
          </div>
          <div class="page-counter">
            <!-- Rows: {{ rowCount }} | PageSize: {{ pageSize }} | Offset: {{offset}}  -->
            {{ rowCount }}<span class="row-counter">Total Results</span>
          </div>
          <div class="row-limit">
            <span>Show :</span>
            <select [(ngModel)]="pageResultsCount" (change)="getResults($event)">
              <option>10</option>
              <option>20</option>
              <option>40</option>
              <option>60</option>
              <option>80</option>
              <option>100</option>
            </select>
          </div>
          <div class="paginator">
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [size]="pageSize"
              [count]="rowCount"
              [page]="pageNumber"
              [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </datatable-pager>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-footer>
    <!-- Footer Template Ends -->
  </ngx-datatable>
</div>

