@import "../../../../../assets/scss/skin";

.datatable-body-row {
    .datatable-body-cell {
        padding: 0.3rem 1.2rem !important;
        .datatable-body-cell-label {
            font-size: 0.67rem;
            a {
                color: $tm-vt !important;
                text-decoration: none;
                &::before {
                    font-size: 1.2rem !important;
                }
            }
        }
    }
}

.md-datepicker-input-container {
    width: 50%;
    margin-left: 0px;
}

.mat-form-field-infix {
    width: 100px !important;
}

.mat-datepicker-content .time-container {
    padding-top: 0px !important;
}

.table th,
.table td {
    vertical-align: middle;
}


.table {
    margin-bottom: 0rem !important;
}
::ng-deep .mat-datepicker-content .ngx-mat-datetime-picker {
    width: 200px !important;
    height: 200px !important;
}

.ngx-datatable.material {
    .datatable-header {
        .datatable-header-cell {
            background-color: lighten($tm-vt, 10%);
            color: $white;
        }
    }
    .datatable-body {
        .datatable-row-detail {
            background-color: lighten($tm-vt, 60%);
            color: $white;
        }
    }
}

.is-header-row {
    background-color: lighten($tm-vt, 50%);
}

// Custom Expand Column
.lbd-dtl-row {
    display: flex;
    padding: 5px 60px;
    flex-direction: column;
    .lbd-dtl-column {
        display: flex;
        flex-direction: row;
        .lbd-dtl-item {
            margin-right: 2rem;
            margin-bottom: 0.5rem;
            font-size: 0.67rem;
            min-width: 7rem;
            .lbd-dtl-head {
                font-weight: bold;
                letter-spacing: 1px;
                color: $tm-vt;
            }
            .lbd-dtl-data {
                letter-spacing: 1px;
                color: $tm-vt;
            }
        }
    }
}
