<header class="header">
  <app-header headerText="Post Load"></app-header>
</header>
<main class="main-body">
  <div class="container-fluid bg-white my-2">
    <section>
      <div class="row mb-2 justify-content-between">
          <div class="col-auto">
            <button class="btn btn-primary px-5" routerLink="../">Back</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-success px-5" disabled>Create</button>
          </div>
      </div>
        <app-load-details></app-load-details>
      <div class="row">
        <app-load-status></app-load-status>
      </div>
      <div class="row">
        <app-customer></app-customer>
      </div>
      <div class="row">
        <app-equipment></app-equipment>
      </div>
      <div class="row">
        <app-commodity></app-commodity>
      </div>
      <div class="row">
        <app-trip></app-trip>
      </div>
      <div class="row">
        <app-pricing></app-pricing>
      </div>
      <div class="row">
        <app-carrier></app-carrier>
      </div>
    </section>
  </div>
</main>
