<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a href="#" mat-list-item>Menu Item 1</a>
      <a href="#" mat-list-item>Menu Item 2</a>
      <a href="#" mat-list-item>Menu Item 3</a>
      <a href="#" mat-list-item>Menu Item 4</a>
      <a href="#" mat-list-item>Menu Item 5</a>
      <a href="#"mat-list-item>Menu Item 6</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">Main content</button>
  </mat-sidenav-content> -->
</mat-sidenav-container>

<!-- <mat-sidenav-container class='app-drawer-container' fullscreen>
  <mat-sidenav #sidenav mode="side">
    sidenav bar
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">Main content</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->
