::ng-deep {
    .sideMenu {
        background-color: #505050;
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        /* top layer */
        z-index: 9999;
        ul {
            li {
                padding: 5px;
                background-color: #505050;
                &:hover {
                    background-color: #707070;
                }
                a {
                    text-decoration: none;
                }
                ul {
                    
                    li {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}