::ng-deep {
    .sideMenu {
        background-color: #505050;
        min-width: 150px;
        max-width: 250px;
        height: 100vh;
        position: fixed;
        top: 57px;
        left: 0;
        /* top layer */
        z-index: 9999;
        ul {
            li {
                padding: 5px;
                padding-left: 10px;
                background-color: #302f2f;
                border-left: 3px solid #eeab4e;
                margin-bottom: 3px;
                &:hover {
                    background-color: #202020;
                    border-left: 3px solid #ff9701;
                }
                a {
                    text-decoration: none;
                    display: block;
                }
                ul {

                    li {
                        padding: 5px 10px;
                    }
                }
            }
        }
        @media (min-width: 992px) {
            min-width: 250px;
        }
    }
}
