<nav class="sideMenu px-2 py-3">
  <ul class="list-unstyled components">
      <!-- <p>Heading</p> -->
      <!-- <li class="active" class="cur-pointer" (click)="isHomeCollapsed = !isHomeCollapsed" [attr.aria-expanded]="!isHomeCollapsed" aria-controls="homeSubmenu" aria-expanded="false" >
          <a href="#homeSubmenu" class="text-white">Load</a>
          <span class="pull-right">
            <i class="fa fa-chevron-down" *ngIf="isHomeCollapsed"></i>
            <i class="fa fa-chevron-up" *ngIf="!isHomeCollapsed"></i>
          </span>
          <ul class="collapse list-unstyled" [ngbCollapse]="isHomeCollapsed" id="homeSubmenu">
              <li>
                  <a class="text-white" routerLink="/load/create">Create Load</a>
              </li>
              <li>
                <a class="text-white" routerLink="/load/">Load Board</a>
              </li>
          </ul>
      </li>-->
      <li>
        <a class="text-white" routerLink="/load/create">Create Load</a>
      </li>
      <li>
        <a class="text-white" routerLink="/load/">Load Board</a>
      </li>
      <!-- <li class="active" class="cur-pointer" (click)="isPageCollapsed = !isPageCollapsed" [attr.aria-expanded]="!isPageCollapsed" aria-controls="pageSubmenu" aria-expanded="false" >
          <a href="#pageSubmenu" class="text-white">Home</a>
          <span class="pull-right">
            <i class="fa fa-chevron-down" *ngIf="isPageCollapsed"></i>
            <i class="fa fa-chevron-up" *ngIf="!isPageCollapsed"></i>
          </span>
          <ul class="list-unstyled" [ngbCollapse]="isPageCollapsed" id="pageSubmenu">
              <li>
                  <a href="#" class="text-white">Page 1</a>
              </li>
              <li>
                  <a href="#" class="text-white">Page 2</a>
              </li>
              <li>
                  <a href="#" class="text-white">Page 3</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#" class="text-white">Menu 2</a>
      </li>
      <li>
          <a href="#" class="text-white">Menu 3</a>
      </li> -->
  </ul>
</nav>
