<form [formGroup]="commodityForm" novalidate>
    <ngb-accordion #acc="ngbAccordion" activeIds="{{activeIds}}">
        
        <ngb-panel id="equip">
            <ng-template ngbPanelTitle>
                <div class="row justify-content-between text-dark">
                    <div class="d-flex text-white text-uppercase">Commodity Info</div>
                    <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>                
                <fieldset formGroupName="commodity" class="border p-2 mb-2">
                    <legend  class="w-auto small font-weight-bold">Commodity</legend>
                    <div class="form-row pb-sm-3">
                        <div class="col-sm-6 col-lg-3 form-group">
                            <label for="txtCommName">Name</label>
                            <input type="text" id="txtCommName" class="form-control" formControlName="name" required>
                            <div class="invalid-feedback">
                                Required
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 form-group">
                            <label for="txtCommWeight">Weight (LBS)</label>
                            <input type="text" id="txtCommWeight" class="form-control" formControlName="weight" >
                        </div>
                        <div class="col-sm-6 col-lg-3 form-group">
                            <label for="txtCommVal">Value</label>
                            <input type="text" id="txtCommVal" class="form-control" formControlName="value" >
                        </div>
                    </div>
                </fieldset>
            </ng-template>
        </ngb-panel>
        
    </ngb-accordion>
    
</form>