<fieldset class="border p-2 mb-2" [formGroup]="loadForm">
  <legend  class="w-auto small font-weight-bold">Commodity</legend>
  <div class="form-row pb-sm-3" formGroupName="commodity" >
      <div class="col-sm-6 col-lg-3 form-group">
          <label for="txtCommName">Name</label>
          <input type="text" id="txtCommName" class="form-control" formControlName="name" required
          placeholder="Enter Commodity">
          <div class="invalid-feedback">
              Required
          </div>
      </div>
      <div class="col-sm-6 col-lg-3 form-group">
          <label for="txtCommWeight">Weight (LBS)</label>
          <input type="text" id="txtCommWeight" class="form-control" formControlName="weight" placeholder="Commodity Weight">
      </div>
      <div class="col-sm-6 col-lg-3 form-group">
          <label for="txtCommVal">Value</label>
          <input type="text" id="txtCommVal" class="form-control" formControlName="value" placeholder="Commodity Value">
      </div>
  </div>
</fieldset>
