<form [formGroup]="loadForm" novalidate>
    <fieldset class="border p-2 mb-2">
        <legend  class="w-auto small font-weight-bold m-0">Equipment</legend>
        <div class="form-row">
            <div class="col-sm-6 col-lg-3 form-group mb-sm-2" formGroupName="equipment">
                <label for="drpType">Type<i class="fa fa-asterisk mandatory" aria-hidden="true"></i></label>
                <select id="drpType" class="form-control" formControlName="id">
                    <option value="">Select Equipment Type</option>
                    <option value="1">Van</option>
                    <option value="2">Reefer</option>
                    <option value="3">Flat Bed</option>
                </select>
                <div *ngIf="loadForm.get('equipment.id').touched && loadForm.get('equipment.id').invalid" class="invalid-element">
                    Equipment Type is required.
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 form-group mb-sm-2">
                <label for="txtConName">Load Size<i class="fa fa-asterisk mandatory" aria-hidden="true"></i></label>
                <div class="row px-3">
                    <div class="col custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdoSizeFull" formControlName="loadSize" name="loadSize" class="custom-control-input" value="F">
                        <label class="custom-control-label" for="rdoSizeFull">Full</label>
                    </div>
                    <div class="col custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdoSizePart" formControlName="loadSize" name="loadSize" class="custom-control-input" value="P">
                        <label class="custom-control-label" for="rdoSizePart">Partial</label>
                    </div>
                </div>
                <div *ngIf="loadForm.get('loadSize').touched && loadForm.get('loadSize').invalid" class="invalid-element">
                    Load Size is required.
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 form-group mb-sm-2" formGroupName="equipment">
                <label for="txtLen">Length (FT)</label>
                <input type="text" id="txtLen" class="form-control" formControlName="length" placeholder="Trailer Length"
                mask="separator.2" separatorLimit="100" thousandSeparator="">
            </div>
            <div class="col-sm-6 col-lg-3 form-group mb-sm-2" formGroupName="equipment">
                <label for="txtWeight">Weight (LBS)</label>
                <input type="text" id="txtWeight" class="form-control" formControlName="weight" placeholder="Trailer Capacity"
                mask="separator.2" separatorLimit="100000" thousandSeparator="">
            </div>
        </div>
    </fieldset>
</form>
