<form [formGroup]="loadForm" novalidate>

  <ngb-accordion #acc="ngbAccordion" activeIds="{{activeIds}}">
      <ngb-panel id="customer">
          <ng-template ngbPanelTitle>
              <div class="row justify-content-between text-dark">
                  <div class="d-flex text-white text-uppercase">Customer</div>
                  <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent ngbCollapse="disable">
              <app-customer [loadForm]="loadForm"></app-customer>
          </ng-template>
      </ngb-panel>
      <ngb-panel id="equip">
          <ng-template ngbPanelTitle>
              <div class="row justify-content-between text-dark">
                  <div class="d-flex text-white text-uppercase">Equipment Info</div>
                  <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-equipment [loadForm]="loadForm"></app-equipment>
            <app-commodity [loadForm]="loadForm"></app-commodity>
          </ng-template>
      </ngb-panel>
      <ngb-panel id="trip">
        <ng-template ngbPanelTitle>
          <div class="row justify-content-between text-dark">
              <div class="d-flex text-white text-uppercase">Trip</div>
              <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-trip [loadForm]="loadForm"></app-trip>
        </ng-template>

      </ngb-panel>
      <ngb-panel id="pricing">
          <ng-template ngbPanelTitle>
              <div class="row justify-content-between text-dark">
                  <div class="d-flex text-white text-uppercase">Pricing</div>
                  <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-pricing [loadForm]="loadForm"></app-pricing>
          </ng-template>
      </ngb-panel>

      <ngb-panel id="carrier" *ngIf="loadForm.get('loadStatus.id').value == 10">
          <ng-template ngbPanelTitle>
              <div class="row justify-content-between text-dark">
                  <div class="d-flex text-white text-uppercase">Carrier Search</div>
                  <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-carrier [loadForm]="loadForm"></app-carrier>
          </ng-template>
      </ngb-panel>
      <ngb-panel id="load_carrier"  *ngIf="loadForm.get('loadStatus.id').value > 20">
          <ng-template ngbPanelTitle>
              <div class="row justify-content-between text-dark">
                  <div class="d-flex text-white text-uppercase">Load Carrier Details</div>
                  <div class="d-flex text-white"><i class="fa fa-chevron-down"></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-load-carrier [loadForm]="loadForm "></app-load-carrier>
          </ng-template>
      </ngb-panel>
  </ngb-accordion>
  <div class="row mb-2 justify-content-end">
      <div class="col-auto">
        <button class="btn btn-danger px-5" routerLink="../">Cancel</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-success px-5" (click)="saveOrUpdate()" [disabled]=!loadForm.valid>Create</button>
      </div>
  </div>
</form>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="large" color="#3c8a67" type="ball-spin-clockwise">
</ngx-spinner>
